nav a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: 600;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

nav li {
  transform: none;
  transition: all 0.2s ease-in-out;
}

nav li:hover {
  transform: scale(1.05);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.image-container img {
  width: 50%;
  height: 50dvh;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}
