h3{

  text-align: center;
  padding-bottom: 3rem;

}

.frame-container {
  width: 40%;
  height: 20%;
  margin-top: 5rem;
  border: 1px solid #c1c1c1;
  padding: 2rem;
  margin-top: 14rem;
  border-radius: 5px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

}

.card-container img {
  width: 100%;
  height: 35vh;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}

.pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pass-state {
  margin-top: 1.5rem;
  text-align: center;
}

select {
  background-color: #e1e1e1;
  border: 1px solid #c1c1c1;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

button {
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.3rem 1rem;
}

@media (max-width: 900px) {
  .card-container {
    flex-wrap: wrap;
  }
}
